body {
    background-color: #000000;
    color: #F6F6F6;
}
h1 {
    font: 36px Krona One;
}
.titulo-destaque {
    color: #22D4FD;
}
/*p {
    
}*/
a {
    background-color: #22D4FD;
    color: #000000;
}
/*img {
    
}*/
