@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 3% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5%;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 7% 15%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 44%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.apresentacao__conteudo__introducao {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__introducao__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    font-weight: 400;
}

.apresentacao__conteudo__introducao__titulo__destaque {
    color: var(--cor-terciaria);
    font-weight: 400;
}

.apresentacao__conteudo__introducao__descricao {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__conteudo__links {
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__links__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.apresentacao__conteudo__links__redesSociais {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__links__redesSociais__link {
    width: 100%;
        
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    
    padding: 21.5px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao__conteudo__links__redesSociais__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 36%;
}

.rodape {
    padding: 1.25%;
    background-color: var(--cor-terciaria);
        
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-primaria);
    text-align: center;    
}

@media screen and (max-width: 1400px){
    .cabecalho {
        padding: 19%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        padding: 0 0 11% 0;
        flex-direction: column-reverse;
        align-items: center;
    }

    .apresentacao__imagem {
        width: 62%;
        padding: 0 0 11% 0;
    }

    .apresentacao__conteudo {
        width: 84%;
        gap: 80px;
    }

    .apresentacao__conteudo__links {
        width: 58%;
        gap: 40px;
    }
    
    .apresentacao__conteudo__links__redesSociais__link {
        padding: 16px 0;
    }

    .rodape {
        padding: 4%;   
    }
}